/* --------------------------------Style Global--------------------------------------------------- */
body {
  background-color: #ffffff;
  background-image: linear-gradient(#fcfcfc 1.5px, transparent 1.5px), linear-gradient(to right, #fcfcfc 1.5px, #ffffff 1.5px);
  background-size: 30px 30px;
  margin-bottom: 200px;
}

h1 {
  font-family: 'poppins-bold';
  font-size: 38px;
  line-height: 56px;
}
h2 {
  font-family: 'poppins-bold';
  font-size: 28px;
  line-height: 42px;
}
h3 {
  font-family: 'poppins-bold';
  font-size: 24px;
  line-height: 36px;
}
p {
  font-family: 'montserrat-medium';
  font-size: 14px;
  line-height: 24px;
  color: #3e3e3e;
}

span {
  font-family: 'Caveat', cursive;
  font-size: 20px;
}

.navbar-nav .active {
  -webkit-text-decoration: underline coral 2px;
  text-decoration: underline coral 2px;
}

.nav-link {
  font-family: 'montserrat-regular';
  margin-right: 18px;
  color: #000b26;
  font-size: 14px;
  font-weight: 400px;
}

.nav-link:hover {
  color: #ff7d1f;
}

/* ----------------------------------------------Mobile Version---------------------------------------------------- */

/* Button Mobile  */
.btn-started {
  font-family: 'montserrat-semibold';
  background: linear-gradient(241.98deg, #e93f63 9.58%, #ffa800 86.42%);
  color: #ffffff;
  border-radius: 30px;
  font-size: 14px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-color: #ffffff;
  width: 150px;
}

.btn-started:hover {
  font-family: 'montserrat-semibold';
  background: linear-gradient(241.98deg, #ffa800 9.58%, #e93f63 86.42%);
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 30px;
  font-size: 14px;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 150px;
}
.btn-second {
  font-family: 'montserrat-semibold';
  border-radius: 30px;
  font-size: 14px;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 150px;
  color: #0b0b0b;
}

/* End Button */

/*  Header Home page */
.jumbotron {
  margin-top: 80px;
}

.header {
  background: url('https://alfinagamulya.github.io/maksell/img/background_header.svg');
  background-size: cover;
  padding-bottom: 80px;
}
/* End  Header Home page */

/* Features Home */
.features-home {
  background: #fef7fa;
  background-size: cover;
  padding-bottom: 80px;
  padding-top: 80px;
}
.features-sales {
  background: #f3fff7;
  padding-bottom: 80px;
  padding-top: 80px;
}
.features-nav .nav-link {
  font-size: 12px;
}
.features-nav .active {
  font-family: 'montserrat-semibold';
  background: linear-gradient(241.98deg, #ffa800 9.58%, #e93f63 86.42%);
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 30px;
}

/* End Freatures */

/* Slider Logo Integration */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 8));
  }
}

.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  height: 300px;
}

.slider .slide-track {
  animation: scroll 50s linear infinite;
  display: flex;
  width: calc(500px * 28px);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

.integration-logo {
  margin-top: 120px;
}






.slider-header {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider-header .slide-track-logo {
  animation: scroll 50s linear infinite;
  display: flex;
  width: calc(500px * 28px);
}

.slider-header .slide-track-logo {
  width: 250px;
}

.slide-track-logo .slide {
  margin-right: 30px;
}
/* --------------------------------Mobile Version---------------------------------------------------- */
slide-track-logo